annotated_types==0.7.0+computecanada
asttokens==2.4.1+computecanada
./dist/bbi-0.1.0-py3-none-any.whl 
black==22.8.0+computecanada
build==1.0.3+computecanada
certifi==2024.8.30+computecanada
charset_normalizer==3.4.0+computecanada
click==8.1.7+computecanada
cloudpickle==3.1.0+computecanada
comm==0.2.2+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
docker-pycreds==0.4.0+computecanada
exceptiongroup==1.2.1+computecanada
executing==2.0.1+computecanada
Farama_Notifications==0.0.4+computecanada
fonttools==4.53.0+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43+computecanada
gymnasium==1.0.0+computecanada
idna==3.10+computecanada
ipykernel==6.29.5+computecanada
ipython==8.25.0+computecanada
isort==5.13.2+computecanada
jedi==0.19.1+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
kiwisolver==1.4.5+computecanada
matplotlib==3.9.2+computecanada
matplotlib_inline==0.1.7+computecanada
mpmath==1.3.0+computecanada
mypy_extensions==1.0.0+computecanada
nest_asyncio==1.6.0+computecanada
nose==1.3.7+computecanada
numpy==1.26.4+computecanada
packaging==24.1+computecanada
pandas==2.2.2+computecanada
parso==0.8.4+computecanada
pathspec==0.12.1+computecanada
pexpect==4.9.0+computecanada
pillow==10.3.0+computecanada
platformdirs==3.9.1+computecanada
prompt_toolkit==3.0.47+computecanada
protobuf==5.28.3+computecanada
psutil==5.9.8+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pydantic==2.10.3+computecanada
pydantic_core==2.27.1+computecanada
pygame==2.5.2+computecanada
pygments==2.18.0+computecanada
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.0.3+computecanada
requests==2.32.3+computecanada
scipy==1.13.1+computecanada
sentry-sdk==2.19.0+computecanada
setproctitle==1.3.4+computecanada
setuptools==75.3.0+computecanada
six==1.16.0+computecanada
smmap==5.0.1+computecanada
stack_data==0.6.3+computecanada
sympy==1.12.1+computecanada
tomli==2.0.1+computecanada
tornado==6.3.3+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
urllib3==2.2.3+computecanada
wandb==0.18.0+computecanada
wcwidth==0.2.13+computecanada
wheel==0.42.0+computecanada
